@media (min-width:425px) and (max-width:768px){
    .hero-img img{
        width: 100%;
    }
    .hero-card{
        margin-top: -130px;
    }
    .card{
        width: 49%;
        height: 400px;
    }
    .card h1{
        font-size: 14px;
    }
    .card img{
        height: 300px ;
        padding: 10px 10px;
    }
}