@media (min-width:425px) and (max-width:768px){
   
    .amaozon-ad{
        display: none;
    }
    .hamburgar{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .location-nav2{
        display: initial;
        font-size: 20px;
    }
}