.nav{
    background-color: #0f111a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}
.amaozon-ad{
    display: flex;
    justify-content: center;
    align-items: center;
}
.amaozon-ad img{
    height: 39px;
}
.hamburgar i{
    font-size: 20px;
}
.nav-links{
    display: flex;
}
.nav-links a{
    color: white;
    text-decoration: none;
    margin-right: 40px;
}
.location-nav2{
    display: none;
}